:root {

    --crl-primary: #000000;
    --crl-text-menu: #39FF14;
    --crl-text-string: #0CAFFF;


    /* background-color: #76f43f;
    background-image: linear-gradient(132deg, #76f43f 0%, #16A085 100%); */

}