@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {

    --crl-primary: #3f3f3f;
    --crl-accent: #000000;
    --crl-text-hover: #F40009;
    --crl-text-string: #0CAFFF;
    --crl-text-function: #39FF14;
    font-family: 'Roboto Mono', monospace;

    background-color: var(--crl-primary);
    color: #afafaf;

    /* background-color: #76f43f;
    background-image: linear-gradient(132deg, #76f43f 0%, #16A085 100%); */

}

*::before, *::after{

    box-sizing:inherit;

}

header {
    background-color: var(--crl-accent);

}

nav {
    display: flex;
    flex-direction: row;
}

/* 
===================
  text formmating
===================
*/ 

a {
    text-decoration: none;
    color: var(--crl-text-function);
    transition:  250ms ease-in-out 250ms;
}

.str {
    color: var(--crl-text-string);
}

h1 {

    color: var(--crl-text-function);

}

/* 
===================
    text effect
===================
*/ 


a:hover {

    color: var(--crl-text-hover);
}



  

  
